@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url("reset.css");

/* Normal 400 Bold 700*/

body{
    background:#ecf0f1;
    font-family: 'Lato', sans-serif;

}
.container{

    width:960px;
    margin:0 auto;

}


.lowres{
    width:40px;
    height:40px; 
    margin:0 auto;
    position: absolute;
    top: 6px;
    left: 6px;
   border:3px solid #ECF0F1;
   

    
  

}

.pic{
    width:206px;
    height:206px; 
    margin:0 auto;
  

}


h1 {
font-weight: 700;
font-size: 45px;
line-height: 46px;
color: #ecf0f1;
margin-left: 245px;
padding-top: 8px;

}

header{
height:63px;


background:#2c3e50;
margin-bottom:20px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.photoborder{

margin-bottom: 20px;
float: left;
position: relative;
width: 208px;
height: 208px;
border-radius: 5px;
background: white;
padding: 5px;
margin: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

form{
    width:960px;

}

.search{
    margin-left: 342px;
margin-bottom: 13px;
}

.clear{
    clear:both;
}

input{
    width: 208px;
    height:33px;
}

.btnAdd {
height: 36px;
}


#icon-thumb{

position:absolute;
top: 187px;
left: 156px;
width: 33px;
height: 12px;
background:#ecf0f1;
padding: 2px 2px 2px 2px;
font-size: 12px;
font-weight: bold;
border-radius: 2px;
border: 1px solid #ddd;
    


}

.fa.fa-thumbs-up {
color: #2c3e50;
padding:0;
    


}
.fa.fa-spinner.fa-spin{
font-size: 100px;
position: absolute;
left: 746px;
top: 187px;
z-index: 5000;
color: #2c3e50;


}

.fa.fa-search
{
height: 33px;
width: 33px;
    
    
}

.search-sheet{
    margin-bottom:20px;
    margin-left: 325px;
}

.next{
width: 960px;
margin: 0 auto;
display:none;

}
